body {
    background-color: #545454;
}

#header {
    color: white;
    background-color: #14364b;
}

section {
    background-color: #545454;
    color: white;
}

ion-icon {
    vertical-align: middle;
    margin-bottom: 2px;
}

.button-link {
    text-decoration: none;
}

#fonctionnalites {
    background-color: #333333;
}

.cards-container {
    color: white;
    justify-content: center;
    display: flex;
}

.fonc-cards-icons {
    font-size: 60px;
}

.fonc-card {
    margin-right: 3px;
}

.screenshot {
    width: 20%;
    margin-right: 20px;
    cursor: zoom-in;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.screenshot:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

#footer {
    background-color: #333333;
}

.maj-cards {
    text-align: left;
    border-radius: 5px;
    background-color: #333333;
    border: 10px solid #333333;
    width: 400px;
    height: 350px;
    margin-right: 15px;
}

.plugin-cards {
    text-align: center;
    border-radius: 5px;
    background-color: #333333;
    border: 10px solid #333333;
    width: 350px;
    height: 250px;
    margin-right: 15px;
}

.navbar div {
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    color: white;
    background-color: #333333;
    margin-right: 20px;
    transition: all 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(-4px);
    transition: all 0.5s ease-in-out;
}

#version-select {
    margin-right: 10px;
}

.cards-container .button-link {
    margin-right: 10px;
}

.add-container {
    margin-top: 40%;
    display: flex;
    cursor: pointer;
}

code {
    background-color: black;
    color: white;
    border: 3px solid black;
    outline: white solid 1px;
    border-radius: 5px;
}

.announce-downloads {
    background-color: #d90000;
    border-radius: 5px;
    border: 2px solid #900b0a;
}

/* Afficher DIV (pour le dev) */
/* div {
    border: 2px solid red;
} */